# Module 3 Assignment
The listings_sm_1000.csv contains real Airbnb listing data, including 1,000 rows of records and 8 columns: id, accommodates, bedrooms, beds, description,number_of_reviews, host_response_rate, and price. Description, host_response_rate, and price are text objects. Your tasks are:

1. Read the data file into a Pandas dataframe 'df';
2. check to see any null values (there isn't but check anyway);
3. explore the data by displaying the first five records and basic statistics for numerical variables (e.g. count, mean, etc.) and text-based variables (e.g. count, unique, etc.);
4. Write and call a function 'to_num()' to convert host_response_rate and price to numerical values (hint: use re.sub), and append the two new fields 'num_host_response_rate' and 'num_price' to the data frame;
5. Write and call a function 'to_cat()' Convert numerical price to categorical price ('high' or 'low') based on median price and append the new field 'cat_price" to the data frame;
6. Drop the original text-based host_response_rate, and price columns;
7. Visualize the relationship between 'accomodates' and high/low price properties, briefly describe what you find from the graph;
8. Find the best (highest F-1) classification model to predict the price category with all the numerical variables. Try all models in my demo code. Use 70% for training and 30% for test set. For KNN, use elbow chart to find the best k; For decision tree, use loop to find the best max_depth and output the feature importance. 
9. Store the results in a dataframe 'results_df' and display for easy comparison in the end; (Note: It's okay if different models got the same result)
10. Is your best model F-1 better than the baseline?

In [ ]:
# your code here.

In [ ]:
# This is the original top 5 records from the data file.

,id,accommodates,bedrooms,beds,description,number_of_reviews,host_response_rate,price
0,43269141,2,1.0,1.0,"Welcome to the Sofi Stadium House, Room # 4 of...",34,100%,$115.00
1,41416518,2,1.0,1.0,"Discover the best of Los Angeles, with this on...",0,100%,$140.00
2,24918413,4,2.0,2.0,Experience Summer in this Beachside Californi...,1,100%,$425.00
3,45532645,4,2.0,2.0,"A spacious, modern & clean 2BD/2BA set inside ...",89,97%,$129.00
4,2478188,4,1.0,2.0,"A cozy home away from home, this private Los F...",177,100%,$160.00

In [ ]:
# your code here.

In [ ]:
# This is the top 5 records after cleaning up.

,id,accommodates,bedrooms,beds,description,number_of_reviews,num_host_response_rate,num_price,cat_price
0,43269141,2,1.0,1.0,"Welcome to the Sofi Stadium House, Room # 4 of...",34,100.0,115.0,low
1,41416518,2,1.0,1.0,"Discover the best of Los Angeles, with this on...",0,100.0,140.0,low
2,24918413,4,2.0,2.0,Experience Summer in this Beachside Californi...,1,100.0,425.0,high
3,45532645,4,2.0,2.0,"A spacious, modern & clean 2BD/2BA set inside ...",89,97.0,129.0,low
4,2478188,4,1.0,2.0,"A cozy home away from home, this private Los F...",177,100.0,160.0,high

In [ ]:
# your code here.

In [ ]:
# The 0.77 is just an example, replace them with what you got.

                 Model  Accuracy  F1-score
0  Logistic Regression      0.77      0.77
1          Naive Bayes      0.77      0.77
2                  KNN      0.77      0.77
3                  SVM      0.77      0.77
4        Decision Tree      0.77      0.77
5                XGBDT      0.77      0.77